@import "general.css";
main {
    margin: 2vh 3vw;
}

main img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 1rem;
}

main p {
    line-height: 150%;
}

@media only screen and (min-width: 600px) {

    main {
        margin: 2vh 10vw;
    }

}