@import "general.css";

main {
    margin: 2vh 3vw;
}

select,
input:not([type=submit], [type=checkbox], [type=radio]),
textarea {
    font-family: 'Ubuntu', sans-serif;
}

input[type=radio],
input[type=checkbox] {
    color: black;
}

@media only screen and (min-width: 600px) {

    main {
        margin: 2vh 10vw;
    }

}