@import "reponsive.css";

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #ffffff;
}


/* #region  HEADER */

/* #region  HEADER BANNER */
.font-brand {
    font-family: 'Kaushan Script', cursive;
}

.banner {
    position: relative;
} 

@media only screen and (min-width: 769px) {
    .banner {
        height: 30vh;
    }

    .carousel-item {
        height: 30vh;
    }
}
/* #endregion */


/* #region  HEADER H1 */
.banner h1 {
    font-size: 200%;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 5;
}

@media only screen and (min-width: 600px) {
    .banner h1 {
        font-size: 400%;
    }
}

.banner h1 a,
.banner h1 a:hover {
    text-decoration: none;
    color: black;
}
/* #endregion */


/* #region  HEADER NAVIGATION */
.nav-bg {
    background-color: black;
}

.nav-item-color {
    color: white;
}

.nav-sub-item {
    color: black;
    background-color: white;
}

.nav-sub-item:hover {
    background-color: black;
    color: white;
}


/* #endregion */

/* #endregion */


/* #region  MAIN */

main h2 {
    font-size: 1.5rem;
    font-weight: bolder;
}

main h3 {
    font-size: 1.2rem;
    font-weight: bolder;
}

.justify {
    text-align: justify;
}

.text-time {
    font-size: 80%;
}


/* #endregion */


/* #region FOOTER */
footer {
    clear: both;
    margin: 2vh 3vw;
}

@media only screen and (min-width: 600px) {

    footer {
        margin: 2vh 10vw;
    }

}

footer p {
    font-size: 80%;
    font-style: italic;
}

footer a {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0.6rem 1rem;
    margin: 1rem;
    color: white;
    background-color: black;
    border-radius: 0.2rem;
}


/* #endregion */