@import "general.css";

article img {
    width: 100%;
}

.article-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

article a {
    color: black;
} 