@import "general.css";

main {
	margin: 2vh 3vw;
}

#introduction img {
	width: 100%;
}

#information {
	position: relative;
	clear: both;
	margin-top: 20px;
	border: 2px solid transparent;
}

section {
	line-height: 150%;
}

iframe {
	width: 24em;
	height: 13.5em;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

#note p {
	padding-left: 10px;
	border-left: 5px solid black;
}


@media only screen and (min-width: 600px) {

	main {
		margin: 2vh 10vw;
	}

	#information ul {
		float: left;
	}

	aside {
		display: inline-block;
		position: absolute;
		right: 0;
		font-style: italic;
	}


	#ingredients {
		clear: both;
	}

	iframe {
		width: 32em;
		height: 18em;
	}

}